.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bangers', cursive;

  padding: 0 var(--size30);
}

.nav-list {
  display: flex;

}
.nav-list ,
.animeList-item{

  cursor: pointer;
  font-size: var(--size20);

}

.list-nav{
  display: flex;
  text-align: center;
  justify-content: center;
}

.list-item:hover{
  position: relative;
}
.list-nav h3:hover{
font-size: 20px;
  color: #eb3e0e;
  margin-top: 10px;
  margin-bottom: auto;

  cursor: pointer;

}

.list-item {
  padding-left: var(--size30);
}

.list-item:hover {
  color: #eb3e0e;
}
.intro {
  text-align: center;
}

.intro h1 {
  font-family: 'Bangers', cursive;

  font-size: 4.6875rem;
  margin-top: var(--size30);
}
.anime{
  display: flex;
  flex-wrap: wrap;
 
}

.animeContainer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  margin-top: var(--size50);
}
.animeContainer h2{
  text-align: center;
}
.animeList-item{
 
  max-height: 500px;
  overflow-y: scroll;
max-width: 500px;
margin-bottom: var(--size100);
}



.anime-wrapper-container{
height: 300px;
  background-color: rgba(202,200,203,.2);
  width: 92%;
  display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
margin-left: 20px;
margin-right: 20px;
border-radius: 8px;
}
.anime-wrapper-container:nth-child(odd)
{
  background-color: lightgray;
}
.anime-wrapper-container:nth-child(even):hover{
  background-color: rgba(202,200,203);
}
.anime-wrapper-container:nth-child(odd):hover{
  background-color: darkgray;

}
.anime-wrapper-container:hover{
  border: 1px solid var(--black);
  box-shadow:  1px 1px -1px var(--black);

}

.content-wrap-wrapper{
  width: 100%;
  display: flex;
}


.content-wrapper{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  
  justify-content: center;
}
.anime-wrapper{
display: flex;
align-items: center;
margin-left: 20px;
}

.anime-wrapper img{
  height: var(--size150);
  width: var(--size150);

}


.text-wrapper{
  margin-left: 10px;
  margin-bottom: 0;
}

/* .add-to-list{
margin: 0;
} */

.add-to-favorites:hover,
.remove-from-favorites:hover,
.add-to-topten:hover,
.remove-from-topten:hover{
  color: var(--font-color-hover);
}

.selection{
  display: flex;
  align-items: center;
  justify-content: center;
margin: 0 auto;
 

}

.selection h4{
  margin-right: 10px;
}

.selection h6{
  padding: 0 10px ;
}


.favoritesList{
display: none;
}

.favoritesList.isVisible{
display: flex;
}
.toptenList{
  display: none;
  }
  
  .toptenList.isVisible{
  display: flex;
  }

